[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "twitterwidget"]
	path = twitterwidget
	url = https://github.com/guivo/twitterwidget
